{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="{% static 'tutorauthor/draggable.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'tutorauthor/style.css' %}">

<a href="/">Back</a><br/>

<h2>Widget Palette</h2>



<div id="button" class="selectpart">
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284492-0.jpg" class="picture" /></span></div>
<div class="draggable-widget" style="background-image:url('http://pb-i4.s3.amazonaws.com/photos/365451-1405284492-1.jpg'); background-repeat:no-repeat;"><span class="widget" ><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405351498-0.jpg" /></span></div>
<div class="draggable-widget"><button class="widget" disabled>Button</button></div>
<div class="draggable-widget"><span class="widget" style="background-image:url('http://pb-i4.s3.amazonaws.com/photos/365451-1405284492-3.jpg');line-height:40px;float:right; background-repeat:no-repeat;background-position-x:50%;background-position-y:50%;"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405351498-0.jpg" class="picture" /><input type="text" name="f" /></span></div>
<div class="draggable-widget"><span class="widget" style="background:#FFF;"></span></div>
<div class="draggable-widget">
<div class="widget" style="background-image:url('http://pb-i4.s3.amazonaws.com/photos/365451-1405470205-0.jpg');background-repeat:no-repeat;">
<span class="text" style="position:relative;top:35%;left:38%;background-color:white;">22</span>
</div>
</div>
<div class="draggable-widget"><div class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284492-3.jpg" class="picture" /><span></div></div>
<div class="draggable-widget"><span class="widget"><img src="v" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284777-1.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284777-2.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284777-3.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284777-4.jpg" class="picture" /></span></div>
</div>

<div id="containers" class="selectpart">
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284877-0.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284877-1.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284877-2.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284877-3.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284877-4.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284972-0.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284972-1.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284972-2.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284972-3.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405284972-4.jpg" class="picture" /></span></div>

</div>

<div id="media" class="selectpart">
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285084-4.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405091908-0.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405091908-1.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405092305-0.jpg" class="picture" /></span></div>


</div>

<div id="ios" class="selectpart">
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285012-0.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285012-1.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285012-2.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285012-3.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285012-4.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285084-1.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285084-2.jpg" class="picture" /></span></div>

</div>

<div id="other" class="selectpart">

<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285012-1.jpg" class="picture" /></span></div>
<div class="draggable-widget"><span class="widget"><img src="http://pb-i4.s3.amazonaws.com/photos/365451-1405285012-2.jpg" class="picture" /></span></div>

</div>


<br/>


<ul class="custom-navigation">
      
        <li><a href="#" class="nav1" data-item="0">buttons</a></li>
        <li><a href="#" class="nav2" data-item="1">containers</a></li>
		<li><a href="#" class="nav3" data-item="2">media</a></li>
        <li><a href="#" class="nav4" data-item="3">ios</a></li>
        <li><a href="#" class="nav5" data-item="4">others</a></li>
</ul>


    


<br/>
<br/>
<hr/>

<div id="droppable" class="ui-widget-content">
{% for widget in widgets %}
<div class="widget existing-widget draggable-widget" widget-id="{{widget.pk }}" style="position: absolute; left:{{ widget.left }}; top:{{ widget.top }}; width:{{widget.width}}; height:{{widget.height}}">
    {{ widget.value|safe }}
</div>
{% endfor %}

</div>







